body {
  font-size: 16px;
}

#title {
  display: flex;
  justify-content: center;
  color: sienna;
  flex-direction: column;
}

#title img {
  margin: 15px;
}
.row-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.col-wide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#scores-container h1 {
  /* color: darkturquoise;

  text-shadow: 3px 3px 0 midnightblue, -1px -1px 0 midnightblue,
    1px -1px 0 midnightblue, -1px 1px 0 midnightblue, 1px 1px 0 midnightblue; */
}

#scores-ul {
  /* list-style: none;
  color: lightblue;
  font-size: 24px;
  font-weight: 600;

  text-shadow: -1.5px -1.5px 0 black, 1.5px -1.5px 0 black, -1.5px 1.5px 0 black,
    1.5px 1.5px 0 black; */
}
#username-form {
}
#username-form label {
  color: brown;
  text-shadow: -1px -1px 0 cornsilk, 1px -1px 0 cornsilk, -1px 1px 0 cornsilk,
    1px 1px 0 cornsilk;
}

#username-form p {
  font-size: 20px;
  color: red;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

#play-btn {
  color: saddlebrown;
  background-color: tan;
  border-color: cornsilk navajowhite navajowhite cornsilk;
}

#score-div #play-again-btn {
  /* margin: 0 auto;
  color: saddlebrown;
  background-color: tan;
  border-color: cornsilk navajowhite navajowhite cornsilk; */
}

#score-div #score-div-h2 {
  /* display: inline-block;
  margin: 0 auto;
  /* border: 2px solid red; */
}
